.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.half {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stopwatch-format {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

input[type="number"] {
    width: 60px;
    height: 30px;
    font-size: 16px;
    text-align: center;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0.4vh;
}

button:hover {
    background-color: #0056b3;
}